repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
        args: ['-w', '-local', 'github.com/UnoraApp/be']

  - repo: local
    hooks:
      - id: go-vet
        name: go vet
        entry: bash -c 'go vet ./...'
        language: system
        types: [go]
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'golangci-lint run --config .golangci.yml'
        language: system
        types: [go]
        pass_filenames: false

      - id: commitlint
        name: commitlint
        entry: npx --no -- commitlint --edit
        language: system
        stages: [commit-msg]
